.header {
  background: #003580;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  border-radius: 10px;
  padding-top: 80px;
}

/* The search bar container */
.headerSearch {
  background-color: white;
  border: 3px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

/* Each item in the search bar */
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  cursor: pointer;
}

/* Input styling */
.headerSearchInput {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.189);
  width: 150px;
  color: black;
}

.autosuggestInput {
  width: 100%;
}

.headerIcon {
  color: #333;
}

.headerBtn {
  padding: 10px 20px;
  background-color: #f89e3e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.headerBtn:hover {
  background-color: #f1c98b;
}

/* Date Picker Popper */
.datePickerPopper {
  z-index: 9999;
}

/* Autosuggest Styles */
.headerAutosuggestContainer {
  position: relative;
  width: 100%;
}

.headerAutosuggestSuggestionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 250px;
  width: 196px;
  overflow-y: auto;
}

.headerAutosuggestSuggestionsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerAutosuggestSuggestion {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.headerAutosuggestSuggestion:hover {
  background-color: #f0f0f0;
  color: black;
}

.datePickerLabel {
  font-size: 14px;
  color: #000000;
  display: block;
}

/* Example Responsive Adjustments */
@media (max-width: 768px) {
  .headerSearch {
    justify-content: center;
  }
  .headerSearchItem {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .headerSearchItem {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .headerSearchInput {
    width: 100%;
  }
  .headerBtn {
    width: 100%;
    text-align: center;
  }
}
